* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #4444bb;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1.5rem;
  background-color: #721313;
  box-shadow: 0 0 12px -2px black;
  left: 0;
  right: 0;
  position: fixed;
}

.topContainer h1 {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.navContainer li a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.contentContainer {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #353592;
  box-shadow: 0 0 12px -2px black;
  padding-bottom: 3em;
}

main {
  padding: 1.5rem;
  padding-top: 7em;
}

.contentContainer section img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 0 0 12px -2px black;
}

.bodyTitle {
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.activitySection {
  display: flex;
  border-top: 1px solid white;
  padding-top: 1.3rem;
  margin-bottom: 1.3rem;
  flex: 2;
}

.activitySection h2 {
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.activitySection p {
  color: white;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}
